.timeline {
  composes: max from "../../components/shared.css";
}

.inner {
  padding-top: 1.5rem;
  padding-bottom: .75rem;
  border-left: 1rem solid var(--colSecondary20);
}

@media (min-width: 65em) {
  .inner {
    margin-left: -2rem;
  }
}
