
/* === ABOUT & RESUME === */

.About {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  
  &_body {
    margin: 0 0 2rem;
    padding: 0 0 1.5rem;
    border-bottom: 1px solid #bbb;
    
    @media (min-width: 55em) {
      flex: 2 1 0;
      margin: 0 2rem 0 0;
      padding: 0 2rem 0 0;
      border-bottom: 0;
    }
  }
  
  &_resume {
    flex: 1 1 0;
  }
  
  &_foreword {
    flex: 1 1 100%;
    margin-top: 0;
    font-size: 130%;
  }
}

.Resume {
  &_portrait {
    margin-top: .25rem;
    max-width: 100px;
    height: auto;
  }
  
  &_degree {
    margin: 0 0 1.5rem;
    
    &_title {
      margin-top: .5rem;
    }

    &_uni,
    &_text {
      margin-top: 0;
    }
  }
  
  @media (max-width: 54.99em) {
    &_portrait {
      float: left;
      margin-top: .75rem;
      margin-right: 1rem;
    }
    
    &_academia {
      overflow: hidden;
    }
  }
    
  @media (min-width: 32em) {
    &_portrait {
      max-width: none;
    }
  }
  
  @media (min-width: 55em) {
    &_portrait {
      width: 100%;
    }
    
    &_degree {
      margin: 1rem 0 1.75rem;
    }
  }
}

