
/* === AT A GLANCE (INTRO & HIGHLIGHTS) === */

.Glance {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 52rem;
	padding: 3rem 0;
	background: url(images/banner.jpg) bottom / cover;
}

.Intro {
	max-width: 35rem;
	color: #fff;
	text-align: center;
	
	&_text {
		font-size: 150%;
	}
}

.Highlights {
	width: 100%;
	font-family: var(--font-heading);
	font-size: 140%;
	font-style: italic;
	
	&_list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -.5rem;
		padding: 0;
		list-style: none;
		
		@media (min-width: 45em) {
			flex-wrap: nowrap;
			margin-bottom: 1rem;
		}
	}
	
	&_item {
		flex: 1 1 0;
		margin: 0 .5rem;
		min-height: 5rem;
		
		@media (min-width: 45em) {
			min-height: 7rem;
		}
		
		&:last-child {
			flex-basis: 100%;
			margin-top: 1rem;
			min-height: 0;
			
			@media (min-width: 45em) {
				flex-basis: 0;
				min-height: 7rem;
				margin-top: 0;
			}
		}
	}
	
	&_link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: .5rem 1rem;
		text-align: center;
	}
}


/* === ABOUT & ACADEMIA === */

.About {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
	
	&_foreword {
		flex: 1 1 100%;
		margin: 1.5rem 0 2rem;
		font-size: 120%;
	}
	
	&_body {
		margin: 0 0 2rem;
		padding: 0 0 1.5rem;
		border-bottom: 1px solid #bbb;
		
		@media (min-width: 45em) {
			flex: 2 1 0;
			margin: 0 2rem 0 0;
			padding: 0 2rem 0 0;
			border-right: 1px solid #bbb;
			border-bottom: 0;
		}
	}

	&_academia {
		flex: 1 1 0;
	}

	&_body > p:first-child,
	&_portrait {
		margin-top: .5rem;
	}

	&_body > p:last-child {
		margin-bottom: .5rem;
	}
}

.Academia {
	&_list {
		margin: 0;
	}
	
	&_label {
		font-family: var(--font-heading);
		font-style: italic;
		font-weight: bold;
		margin-top: 2rem;
	}
	
	&_info {
		margin: 0;
	}
	
	&_uni,
	&_desc {
		margin: .5rem 0;
		font-size: 90%;
	}
}

