
/* === BANNER === */

.Banner {
  min-height: 35rem;
  min-height: 100vh;
  background-color: var(--col-secondary);

  &_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &_title {
    margin: 3rem 0;
    color: var(--col-primary);
    font-family: var(--font-logo);

    font-size: 700%;
    font-weight: normal;

    line-height: 1.2;
    margin-bottom: 1.5rem;
    text-align: center;
    animation: slideIn .8s .2s backwards;
  }

  &_intro {
    max-width: 25rem;
    margin-bottom: 3rem;
    color: #fff;
    font-size: 120%;
    text-align: center;
    animation: slideIn .8s .3s backwards;
  }
    
  @media (min-width: 35em) {
    &_intro {
      max-width: 29rem;
    }
  }
  
  @media (min-width: 45em) {
    &_intro {
      max-width: 38rem;
      font-size: 150%;
    }
  }
}


/* === ABOUT & RESUME === */

.About {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  
  &_body {
    margin: 0 0 2rem;
    padding: 0 0 1.5rem;
    border-bottom: 1px solid #bbb;
    
    @media (min-width: 55em) {
      flex: 2 1 0;
      margin: 0 2rem 0 0;
      padding: 0 2rem 0 0;
      border-bottom: 0;
    }
  }
  
  &_resume {
    flex: 1 1 0;
  }
  
  &_foreword {
    flex: 1 1 100%;
    margin: 0 0 2rem;
    font-size: 120%;
  }
}

.Resume {
  font-size: 90%;
  
  &_portrait {
    max-width: 100px;
    height: auto;
    
    @media (min-width: 32rem) {
      max-width: none;
    }
  }
  
  &_degree {
    margin: 0 0 1.5rem;

    &_uni,
    &_text {
      margin-top: 0;
    }

    &_uni {
      margin-top: .5rem;
      margin-bottom: .25rem;
    }
  }
  
  @media (max-width: 54.99em) {
    &_portrait {
      float: left;
      margin-top: .75rem;
      margin-right: 1rem;
    }
    
    &_academia {
      overflow: hidden;
    }

    &_degree_title {
      margin-top: .5rem;
    }
  }
  
  @media (min-width: 55em) {
    &_portrait {
      width: 100%;
    }
    
    &_degree {
      margin: 1.5rem 0 2rem;

      &_uni,
      &_text {
        font-size: 85%;
      }
    }
  
  }
}

