
:root {
	--font-text: Verdana,Geneva,sans-serif;
	--font-heading: Georgia,Times,Times New Roman,serif;
	
	--col-bg: #f1f1f1;

	--col-primary: rgb(206, 63, 63);
	--col-primary-80: rgba(206, 63, 63, 0.8);

	--col-secondary: rgb(97, 95, 106);
	--col-secondary-80: rgba(97, 95, 106, 0.8);
	--col-secondary-20: rgba(97, 95, 106, 0.2);

	--col-tertiary: rgb(32, 32, 48);
	--col-tertiary-80: rgba(32, 32, 48, 0.8);
}


*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	overflow-y: scroll;
	height: 100%;
}

body {
	min-height: 100%;
	background-color: var(--col-bg);
    line-height: 1.4;
	font-family: var(--font-text);
}

a {
	color: var(--col-primary);
}

a:hover {
	text-decoration: none;
}

a:focus,
button:focus {
	outline: 1px dashed #333;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* === HELPERS === */

.max {
	max-width: 60rem;
	margin: 0 auto;
	padding: 1rem;
}

.btn {
	padding: .5rem 2rem;
	background: var(--col-primary-80);
	border: none;
	border-radius: .5rem;
	color: #fff;
	text-decoration: none;
}

.btn:hover {
	text-decoration: underline;
}

.btn--inverted:focus {
	outline-color: #fff;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* === LAYOUT === */

.Layout {
	display: flex;
	flex-direction: column;
	
	&_header,
	&_main,
	&_footer {
		width: 100%;
	}
	
	&_main {
		flex-grow: 1;
		padding-bottom: 2rem;
		
		&:not(&--index) {
			background-color: var(--col-secondary-20);
		}
	}
}


/* === HEADER === */

.Header {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	@media (min-width: 45em) {
		flex-direction: row;
	}
}

.Title {
	flex-grow: 1;
	margin: .5em 0;
	color: var(--col-primary);
	line-height: 1.2;
	font-family: var(--font-heading);
	font-size: 250%;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

.Nav {
	display: flex;
	align-items: center;
	margin: .5em 0;
	padding: 0;
	list-style: none;
	font-size: 120%;

	&_link {
		padding: .5em;
		color: var(--col-tertiary-80);
		text-decoration: none;
	}
	
	&_link:hover {
		text-decoration: underline;
	}
}


/* === MAIN === */

.Heading {
	margin: 0 0 2rem;
	padding: 2rem;
	background-color: var(--col-primary);
	color: #fff;
	font-size: 200%;
	font-weight: normal;
	text-align: center;
}

.Section {
	&_heading {
		margin: 0 0 2rem;
		line-height: 1;
		color: var(--col-tertiary);
		font-size: 130%;
		font-weight: normal;
		text-transform: uppercase;
	}
	
	&_intro {
		margin: 0 0 2rem;
		color: var(--col-tertiary);
		font-size: 130%;
	}
}


/* === FOOTER === */

.Footer {
	padding: 1rem;
	background-color: var(--col-tertiary);
	color: #fff;
	text-align: center;
}

.Social {
	margin: 0;
	padding: 0;
	list-style: none;
	
	&_site {
		display: inline-block;
		margin: 0 1rem;
		width: 5rem;
	}
	
	&_link {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
		
		&:focus {
			outline: 1px dashed #fff;
		}
	}
}

