
/* === HELPERS === */
.btn {
  padding: .5rem 2rem;
  background: var(--col-primary-80);
  border: none;
  border-radius: .5rem;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  text-decoration: underline;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* === MAIN === */
.Section {
  &_heading {
    margin: 0 0 2rem;
    font-size: 130%;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  &_intro {
    margin: 0 0 2rem;
    font-size: 130%;
  }
}

.Card {
  font-size: 90%;
  line-height: 1.4;

  &_heading {
    font-family: var(--font-heading);
    font-size: 140%;
    font-style: italic;
    font-weight: normal;
    margin: 1.25rem 0 .25rem;
  }
  
  &_sub {
    margin-top: .1rem;
    font-weight: bold;
    font-size: 90%;
  }
  
  @media (max-width: 34.99em) {
    &_text {
      font-size: 90%;
    }
  }
}
