
/* === TIMELINE === */

.Timeline {
  position: relative;
  z-index: 0; /* stacking context for dots on timeline */
  margin-top: -3rem;
  padding: 3rem 0 1rem 4rem;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: .75rem;
    background-color: var(--col-bg);
    box-shadow: .325rem .5rem 0px 0px var(--col-shadow);
  }
}

.Work {
  margin: 3rem 0 4rem;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: -4rem;
    top: 50%;
    display: block;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    margin-left: calc(-1rem + .375rem); /* centre on timeline line */
    border: 4px solid var(--col-bg);
    border-radius: 50%;
  }

  &::before {
    background-color: var(--col-primary);
  }

  &::after {
    box-shadow: .325rem .375rem 0px 0px var(--col-shadow);
    z-index: -1;
  }

  &_inner {
    padding: 2rem 6rem;
    background-color: var(--col-bg);
    border-radius: 5rem;
    box-shadow: .5rem .625rem 0px 0px var(--col-shadow);
  }
  
  &_heading {
    margin: 1rem 0 1.5rem;
    text-align: center;
    font-family: var(--font-heading);
    font-size: 140%;
    font-style: italic;
  }

  &--minor {
    font-size: 90%;

    &::before {
      background-color: var(--col-shadow);
    }

    .Work_inner {
      width: 61.8%; /* golden ratio */
    }

    .Work_heading {
      text-align: left;
    }
  }
}


/* === IMMERSIVE READING VIEW === */

.Immersive {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--col-bg);
  
  &_header {
    margin: 3rem 0;
  }
  
  &_heading {
    margin: 0;
    font-family: var(--font-heading);
    font-size: 250%;
    font-style: italic;
    font-weight: normal;
    text-align: center;
  }
  
  &_author {
    text-align: center;
    font-size: 110%;
  }
}
