
/* === WORKS === */

.Work {
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: var(--col-bg);
	
	&_heading {
		margin: 1rem 0 1.8rem;
		text-align: center;
		font-family: var(--font-heading);
		font-size: 140%;
		font-style: italic;
	}
}

/*
#cloud-collectors {
	border-left: 0rem solid var(--col-secondary-20);
	border-right: 6rem solid var(--col-secondary-20);
}

#house-skin {
	border-left: 2rem solid var(--col-secondary-20);
	border-right: 4rem solid var(--col-secondary-20);
}

#northern-ligths {
	border-left: 4rem solid var(--col-secondary-20);
	border-right: 2rem solid var(--col-secondary-20);
}

#morrigan {
	border-left: 1rem solid var(--col-secondary-20);
	border-right: 5rem solid var(--col-secondary-20);
}

#thin-places {
	border-left: 3rem solid var(--col-secondary-20);
	border-right: 3rem solid var(--col-secondary-20);
}
*/
