.immersive {
  composes: max from "../../components/shared.css";
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--colBg);
}

.header {
  margin: 3rem 0;
}

.heading {
  margin: 0;
  font-family: var(--fontHeading);
  font-size: 250%;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.byline {
  text-align: center;
  font-size: 110%;
}
