<ul class="Nav{{#if isIndex}} Nav--inverted{{/if}}">
  {{#each navItems}}
  <li class="Nav_item{{currentNavItem ../name page}}"><a class="Nav_link" href="{{path}}">{{label}}</a></li>
  {{/each}}
</ul>
