<ul class="Nav">
  <li class="Nav_item"><a class="Nav_link" href="/">About</a>
  <li class="Nav_item"><a class="Nav_link" href="/work.html">Work</a>
  <li class="Nav_item"><a class="Nav_link" href="/nyctophilia.html">Nyctophilia</a>
</ul>
