.rowOne {
  margin: 1rem 0;
}

.body {
  background-color: rgba(255, 255, 255, .5);
  padding: .5rem 1.5rem;
}

.mainImage {
  margin-bottom: .5rem;
}

.sideImages {
  display: flex;
  margin: 0 -.25rem;
}

.sideImages > div {
  flex: 1;
  margin: 0 .25rem;
  background-size: cover;
  background-position: center;
}

.sideImages > div::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 35em) {
  .rowTwo {
    display: flex;
  }

  .mainImage {
    flex: 8;
    margin-right: .5rem;
    margin-bottom: 0;
  }

  .sideImages {
    flex: 5;
    flex-direction: column;
    margin: -.5rem 0 -.5rem .5rem;
  }

  .sideImages > div {
    margin: .5rem 0;
    padding-top: 0;
  }
}

@media (min-width: 45em) {
  .rowOne {
    display: flex;
    align-items: flex-start;
    margin: 1rem -.5rem;
  }

  .body,
  .bodyImage {
    flex: 1 1 50%;
    margin: 0 .5rem;
  }
}
