---
title: Cassandra Frances - YA fiction writer
description: Website of Cassandra Frances, Young Adult fiction writer.
isIndex: true
_options:
  layout: app/layouts/main.hbs
---
<main class="Layout_main Layout_main--index">
  <section class="Glance">
    <div class="Intro max">
      <p class="Intro_text">Writer and professional pyjamas wearer. Weaving the gothic into fantasy in Young&nbsp;Adult and Children’s stories.</p>
      <a class="Intro_link btn btn--inverted" href="#about" data-scroll>about me</a>
    </div>
    <div class="Highlights max">
      <ul class="Highlights_list">
        <li class="Highlights_item"><a class="Highlights_link btn btn--inverted" href="/work#cloud-collectors">Cloud Collectors</a></li>
        <li class="Highlights_item"><a class="Highlights_link btn btn--inverted" href="/work#house-skin">The House of Skin and&nbsp;Ash</a></li>
        <li class="Highlights_item"><a class="Highlights_link btn btn--inverted" href="/work#something">Something else</a></li>
      </ul>
    </div>
  </section>
  <section id="about" class="About max">
    <p class="About_foreword">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse, voluptatem ad omnis perspiciatis. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse.</p>
    <div class="About_body">
      <p>I am an emerging children’s and young adult fiction writer based in Melbourne, Australia. I’ve always been a storyteller of some sort, I started out in theatre as a kid, (my greatest role was a weasel in Wind in the Willows), I’ve studied Film and Television at RMIT University and worked for a small animation company making some weird little movies.</p>
      <p>I have a Master of Creative Writing, Publishing and Editing from the University of Melbourne, where I graduated with a first class honours average in the first half of 2015.  My bachelor in Psychology (Swinburne University) included a minor in communications, and I specialised in Meta-Fiction and Twentieth Century literature during my time studying at Aalborg University in Denmark. A few people have come up to me and whispered ‘PhD’ which I believe is the drug that all the cool kids are doing these days.</p>
      <p>I tutor Literature and English to VCE students (senior year of high school) at the Melbourne Uni MUSUL summer school. I also taught creative writing workshops for teens. It was amazing to see how excited they are over stories and creating their own.</p>
      <p>Think we’d be great book buddies? Check out my goodreads page and see if share the same favourite books!</p>
    </div>
    <div class="About_resume Resume">
      <img class="Resume_portrait" src="http://placehold.it/200" alt="Cassandra Frances White">
      <div class="Resume_academia">
        <div class="Resume_degree Card">
          <h2 class="Card_heading">Masters of Creative Writing, Publishing and Editing</h2>
          <p class="Card_sub">2014&ndash;2015</p>
          <p class="Card_text">This is a short description. This is a short description. This is a short description.</p>
        </div>
        <div class="Resume_degree Card">
          <h2 class="Card_heading">Bachelor of Psychology</h2>
          <p class="Card_sub">2011&ndash;2013</p>
          <p class="Card_text">This is a short description spanning multiple lines. This is a short description spanning multiple lines.</p>
        </div>
      </div>
    </div>
  </section>
</main>
