---
title: Cassandra Frances - YA fiction writer
description: Website of Cassandra Frances, Young Adult fiction writer.
isIndex: true
_options:
  layout: app/layouts/main.hbs
---
<main class="Layout_main Layout_main--index">
  <section class="Glance">
    <div class="Intro max">
      <p class="Intro_text">Writer and professional pyjamas wearer. Weaving the gothic into fantasy in Young&nbsp;Adult and Children’s stories.</p>
      <a class="Intro_link btn btn--inverted" href="#about" data-scroll>about me</a>
    </div>
    <div class="Highlights max">
      <ul class="Highlights_list">
        <li class="Highlights_item"><a class="Highlights_link btn btn--inverted" href="/work#cloud-collectors">Cloud Collectors</a></li>
        <li class="Highlights_item"><a class="Highlights_link btn btn--inverted" href="/work#house-skin">The House of Skin and&nbsp;Ash</a></li>
        <li class="Highlights_item"><a class="Highlights_link btn btn--inverted" href="/work#published">Other work</a></li>
      </ul>
    </div>
  </section>
  <section id="about" class="About max">
    <p class="About_foreword">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse, voluptatem ad omnis perspiciatis. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse.</p>
    <div class="About_body">
      <p>I am an emerging writer based in Melbourne, Australia. I’ve always been a storyteller of some sort; I started out in theatre as a kid (my greatest role was a weasel in Wind in the Willows), studied Film and Television at RMIT University and worked for a small animation company making some weird little movies.</p>
      <p>Now I’m a graduate of the Master of Creative Writing, Publishing and Editing program at the University of Melbourne. I like to tell stories about the darker side of life that exists on the edge of reality, and sometimes outside of it.</p>
      <p>Melbourne is a UNESCO City of Literature. I take a lot of inspiration from this city, and from country Victoria where I grew up.</p>
      <p>I’m also an Aurealis magazine slush pile reader and in a judge for the 2016 Aurealis Awards Graphic narratives.</p>
    </div>
    <div class="About_resume Resume">
      <img class="Resume_portrait" src="/images/cass-frances-portrait.jpg" alt="Cassandra Frances White" width="200" height="200">
      <div class="Resume_academia">
        <div class="Resume_degree Card">
          <h2 class="Card_heading">Master of Creative Writing, Publishing and Editing</h2>
          <p class="Card_sub">The University of Melbourne, 2014&ndash;2015</p>
          <p class="Card_text">I graduated with First Class Honours. My thesis was on sisterhood in gothic fiction.</p>
        </div>
        <div class="Resume_degree Card">
          <h2 class="Card_heading">Bachelor of Psychology</h2>
          <p class="Card_sub">Swinburne University, 2011&ndash;2013</p>
          <p class="Card_text">I went on exchange to Aalborg University in Denmark, where I studied Metafiction and Twentieth-Century Literature.</p>
        </div>
      </div>
    </div>
  </section>
</main>
