---
title: 
description: 
_options:
	layout: app/layouts/main.hbs
---
<main class="Layout_main">
	<h1 class="Heading Heading--with-sub">Nyctophilia <span class="Heading_sub">nyc•to•phil•i•a (nĭk′tə-fĭl′ē-ə)</span></h1>
	<section class="Section max">
		<p class="Section_intro"><em>A preference for the night or darkness.</em> Welcome to my world!</p>
		<p>Here is my fangirling about all the books I have been reading lately. I am always drawn to books that have some sort of darkness or secrets about them. The bloody fairytales, the vengeful fairies and the abject dark magic is what gets my blood pumping. I am also an unashamed champion of Australian YA so you will see a lot of it here.</p>
		<ul class="Books">
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="http://www.goodreads.com/book/show/16120434-fairytales-for-wilde-girls" target="_blank"><img class="Cover_img" src="images/covers/277/fairytales-for-wilde-girls.jpg" alt="View Fairytales for Wilde Girls on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Fairytales for Wilde Girls</h2>
						<p class="Card_sub">by Allyse Near</p>
						<div class="Card_text">
							<p>Described on the back as &ldquo;bubblegum gothic&rdquo;, the prose sings to you&mdash;vicious, bloody and glittery.</p>
							<p>I’ve been following Allyse Near on Tumblr and Twitter and she part like fey herself.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/15781771-sufficient-grace" target="_blank"><img class="Cover_img" src="images/covers/277/sufficient-grace.jpg" alt="View Sufficient Grace on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Sufficient Grace</h2>
						<p class="Card_sub">by Amy Esperseth</p>
						<div class="Card_text">
							<p>Deceptively simple tale that sucks you in.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book Book--full">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/13402805-sea-hearts" target="_blank"><img class="Cover_img" src="images/covers/271/seahearts.jpg" alt="View Seahearts on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Seahearts</h2>
						<p class="Card_sub">by Margo Lanagan</p>
						<div class="Card_text">
							<p>Ok basically anything by Margo Lanagan. She came into my shoe store once and I lost my shit a little.</p>
							<p>Lanagan’s work is part dream and part nightmare.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/289601.A_Certain_Slant_of_Light" target="_blank"><img class="Cover_img" src="images/covers/292/a-certain-slant-of-light.jpg" alt="View A Certain Slant of Light on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">A Certain Slant of Light</h2>
						<p class="Card_sub">by Laura Whitcomb</p>
						<div class="Card_text">
							<p>A dreamlike take on ghost stories and possession. I never knew books could be like this.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/9460487-miss-peregrine-s-home-for-peculiar-children" target="_blank"><img class="Cover_img" src="images/covers/292/miss-peregrines-home-for-peculiar-children.jpg" alt="View Miss Peregrine’s Home for Peculiar Children on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Miss Peregrine’s Home for Peculiar Children</h2>
						<p class="Card_sub">by Ransom Riggs</p>
						<div class="Card_text">
							<p>I was working in a café when a customer lent me this book, that’s how badly she wanted me to read it and how much she knew I would love it. Don’t worry I gave it back to her sans dog ears and jam and butter smears.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book Book--full">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/6708624-we-have-always-lived-in-the-castle" target="_blank"><img class="Cover_img" src="images/covers/257/we-have-always-lived-in-the-castle.jpg" alt="View We have always lived in the Castle on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">We have always lived in the Castle</h2>
						<p class="Card_sub">by Shirley Jackson</p>
						<div class="Card_text">
							<p>Another book I wrote about in my thesis. This book doesn’t seem to have the renown as Jackson’s The Lottery, or The Haunting of Hill House does, but I think it’s her best.</p>
							<p>There’s something <abbr title="Not Quite Right">NQR</abbr> about the narrator Mary Katherine. She’ll draw you into her madness and have you nodding along with her and her dark machinations.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/18298890-cuckoo-song" target="_blank"><img class="Cover_img" src="images/covers/277/cuckoo-song.jpg" alt="View Cuckoo Song on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Cuckoo Song</h2>
						<p class="Card_sub">by Frances Hardinge</p>
						<div class="Card_text">
							<p>Why are there not more stories from a Changling’s point of view?</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/23754.The_Sandman_Vol_1" target="_blank"><img class="Cover_img" src="images/covers/277/the-sandman.jpg" alt="View The Sandman on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">The Sandman</h2>
						<p class="Card_sub">by Neil Gaiman</p>
						<div class="Card_text">
							<p>Neil Gaiman, do I really need to say why?</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book Book--full">
				<div class="Book_inner clearfix">
					<a class="Cover" href="http://www.goodreads.com/book/show/12161371-black-spring" target="_blank"><img class="Cover_img" src="images/covers/284/black-spring.jpg" alt="View Black Spring on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Black Spring</h2>
						<p class="Card_sub">by Alison Croggon</p>
						<div class="Card_text">
							<p>I saw the cover of this book in my local Dymocks and had to pick it up. It’s a fantastic reimagining of Wuthering Heights. I’ll be discussing it in a guest post on BookWars very soon.</p>
							<p>The character of Lina fascinates me, as much as I find her abhorrent and fearful. I loved this book so much that I wrote about it in my thesis!</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/10860047-the-night-circus" target="_blank"><img class="Cover_img" src="images/covers/284/the-night-circus.jpg" alt="View The Night Circus on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">The Night Circus</h2>
						<p class="Card_sub">by Erin Morgenstern</p>
						<div class="Card_text">
							<p>If you didn’t like this book I am not sure that we can be a friend, that’s how strongly I feel about it.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/19549011-ophelia-and-the-marvellous-boy" target="_blank"><img class="Cover_img" src="images/covers/284/ophelia-and-the-marvellous-boy.jpg" alt="View Ophelia and the Marvellous Boy on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Ophelia and the Marvellous Boy</h2>
						<p class="Card_sub">by Karen Foxlee</p>
						<div class="Card_text">
							<p></p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book Book--full">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/140997.Undine" target="_blank"><img class="Cover_img" src="images/covers/257/undine.jpg" alt="View Undine on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Undine</h2>
						<p class="Card_sub">by Penni Russon</p>
						<div class="Card_text">
							<p>Dreamy, makes Tasmania a mystical island worthy of Shakespeare’s <em>Prospero</em>!</p>
							<p>I’ve met Penni; she let me touch her on the arm. Also she was my tutor for a couple of subjects, and read some early drafts of <a href="work.html#cloud-collectors"><em>Cloud Collectors</em></a>. She’s an amazing writer and a great teacher.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/8490112-daughter-of-smoke-bone" target="_blank"><img class="Cover_img" src="images/covers/271/daughter-of-smoke-and-bone.jpg" alt="View Daughter of Smoke and Bone on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Daughter of Smoke and Bone</h2>
						<p class="Card_sub">by Laini Taylor</p>
						<div class="Card_text">
							<p>Funny, dark, self-aware. Epic world building.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/4407.American_Gods" target="_blank"><img class="Cover_img" src="images/covers/271/american-gods.jpg" alt="View American Gods on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">American Gods</h2>
						<p class="Card_sub">by Neil Gaiman</p>
						<div class="Card_text">
							<p></p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book Book--full">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/8621462-a-monster-calls" target="_blank"><img class="Cover_img" src="images/covers/233/a-monster-calls.jpg" alt="View A Monster Calls on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">A Monster Calls</h2>
						<p class="Card_sub">by Patrick Ness</p>
						<div class="Card_text">
							<p>Heartbreaking, and an escape from the real world as well as embracing it. More books need such beautiful illustrations.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/8061032-this-is-shyness" target="_blank"><img class="Cover_img" src="images/covers/277/this-is-shyness.jpg" alt="View This is Shyness on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">This is Shyness</h2>
						<p class="Card_sub">by Leanne Hall</p>
						<div class="Card_text">
							<p>Such a crazy new world that feels so familiar.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/17061.Coraline" target="_blank"><img class="Cover_img" src="images/covers/277/coraline.jpg" alt="View Coraline on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Coraline</h2>
						<p class="Card_sub">by Neil Gaiman</p>
						<div class="Card_text">
							<p></p>
						</div>
					</div>
				</div>
			</li>
			<li class="Book Book--full">
				<div class="Book_inner clearfix">
					<a class="Cover" href="https://www.goodreads.com/book/show/81022.Love" target="_blank"><img class="Cover_img" src="images/covers/277/love.jpg" alt="View Love on Goodreads"></a>
					<div class="Book_review Card">
						<h2 class="Card_heading">Love</h2>
						<p class="Card_sub">by Angela Carter</p>
						<div class="Card_text">
							<p>So much to love in such a tiny book. Carter is one of my favourite writers. I have to credit her with reviving my love of gothic.</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>
</main>
