---
title: Work - Cassandra Frances
description: 
_options:
  layout: app/layouts/main.hbs
---
<main class="Layout_main">
  <h1 class="Heading">Work</h1>
  <section class="Section max">
    <h2 class="Section_heading">Work in progress</h2>
    <section id="cloud-collectors" class="Work">
      <h3 class="Work_heading">Cloud Collectors</h3>
      <p>A young adult fantasy inspired by the Inuit culture of Greenland and the Danish invasions in the 1800s. I’ve spent some time in Greenland, Iceland and Denmark and I couldn’t pick between the three of them for my favourite place to live.</p>
      <p>It’s Stardust meets Howl’s Moving Castle meets Casablanca!</p>
      <p>Early chapters of this work have been workshopped as part of my master’s degree with Australian author Penni Russon in the subject Young Adult fiction, and later on with Lili Wilkinson at Writers Victoria.</p>
      <p>I’ve had fun with this story, playing around with what it means to be a hero and have power. Neither Anuk or Elena spend a lot of time acting like heroes, even when they think they do. But then adversity reveals character doesn’t it. While there’s airships and some tech the focus for me has always been these two characters that have been in my head for the past seven years. It’s also really important to me that there is a diverse cast in my stories as well. It represents the world we live in.</p>
      <p>Cute story, but if I never wrote this book, I wouldn’t have met my fiancé. About five years ago, when I first starting writing CC, I had an idea for a charming villain called Aksel, who was tall and thin, with impressive cheekbones.</p>
      <p>One day I was leading a bunch of the new exchange students on the university campus tour, when I noticed one particularly attractive man with stunning bone structure, and I thought, ‘he looks just like my character.’ The attractive student introduced himself in his French accent, ‘Erh hello, my name is Axel,’ and I stood there holding his hand for a long awkward amount of time.</p>
      <p>He’s tried to convince me to make Aksel the hero, but sorry my love, no such luck.</p>
    </section>
    <section id="house-skin" class="Work">
      <h3 class="Work_heading">The House of Skin and Ash</h3>
      <p>A gothic young adult fiction that arose from my Master’s thesis looking at the abjection of sisterhood in gothic YA texts. Not having a sister myself I probably find sisterhood in itself abject and a perfect topic for a gothic story.</p>
      <p>Ghosts Sylvie and Claire steal bodies of other girls so they can live again. But the girls struggle to rebuild their life in Melbourne and Sylvie knows she has to stop Claire from stealing more bodies before their past catches up with them.</p>
      <p>However, Sylvie isn’t prepared to give back the body she took, especially after she falls for her host’s ex-girlfriend.</p>
      <p>The story is about not belonging in your own skin and imposter syndrome; the St Aubert sisters certainly do not belong.</p>
      <p>The initial inspiration was the music video Gallows by CocoRosie and my desire to explore Australian Gothic.</p>
      <p>The audience is fifteen-plus girls who like read about complex female relationships, gothic and LGBT themes. Comparable Australian titles are Black Spring by Alison Croggon, Fairytales for Wilde Girls by Allyse Near and books by Margo Lanagan.</p>
      <p>It was inspired in part by the video clip ‘Gallows’ by the group CocoRosie, directed by the wonderful Emma Freeman.</p>
    </section>
  </section>
  <section class="Section max">
    <h2 class="Section_heading">Published work</h2>
    <section id="northern-ligths" class="Work">
      <h3 class="Work_heading">How Cold the Northern Lights</h3>
      <a href="read/northern-ligths.html">Read the full story</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deleniti hic obcaecati nesciunt impedit corporis soluta non laudantium provident dolor quidem illo, quae asperiores reprehenderit perferendis doloribus officia suscipit tenetur!</p>
      <p>Aliquid natus, consectetur aut id possimus quaerat, ut vitae itaque cupiditate ad repellat est. Delectus harum iste, tempora, quis necessitatibus ea, quidem dolores, at nobis nemo vitae! Voluptates, veniam, voluptatibus.</p>
      <p>Rem maxime ad consectetur magnam quas maiores molestias, temporibus id numquam alias earum veniam reprehenderit, repudiandae, aperiam, totam culpa enim qui. Inventore, ab mollitia saepe cum corporis neque. Pariatur, mollitia.</p>
      <p>Fuga illo pariatur nemo impedit quidem mollitia quos repudiandae aut, in, exercitationem ab eos! Ipsa, architecto accusamus ullam quos incidunt, necessitatibus eos sit, eveniet numquam excepturi reprehenderit quo animi dolorum.</p>
      <p>Quidem dolor repudiandae et, doloribus id quisquam dolores corrupti itaque sit repellat omnis debitis quis odio accusantium tenetur, nemo incidunt neque voluptate. Distinctio eligendi quo magnam soluta odio sapiente molestias.</p>
    </section>
  </section>
  <section class="Section max">
    <h2 class="Section_heading">Miscellaneous</h2>
    <section id="morrigan" class="Work">
      <h3 class="Work_heading">The Final Flight of the Morrigan</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deleniti hic obcaecati nesciunt impedit corporis soluta non laudantium provident dolor quidem illo, quae asperiores reprehenderit perferendis doloribus officia suscipit tenetur!</p>
      <p>Aliquid natus, consectetur aut id possimus quaerat, ut vitae itaque cupiditate ad repellat est. Delectus harum iste, tempora, quis necessitatibus ea, quidem dolores, at nobis nemo vitae! Voluptates, veniam, voluptatibus.</p>
      <p>Rem maxime ad consectetur magnam quas maiores molestias, temporibus id numquam alias earum veniam reprehenderit, repudiandae, aperiam, totam culpa enim qui. Inventore, ab mollitia saepe cum corporis neque. Pariatur, mollitia.</p>
      <p>Fuga illo pariatur nemo impedit quidem mollitia quos repudiandae aut, in, exercitationem ab eos! Ipsa, architecto accusamus ullam quos incidunt, necessitatibus eos sit, eveniet numquam excepturi reprehenderit quo animi dolorum.</p>
      <p>Quidem dolor repudiandae et, doloribus id quisquam dolores corrupti itaque sit repellat omnis debitis quis odio accusantium tenetur, nemo incidunt neque voluptate. Distinctio eligendi quo magnam soluta odio sapiente molestias.</p>
    </section>
    <section id="thin-places" class="Work">
      <h3 class="Work_heading">Listening in Thin Places</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deleniti hic obcaecati nesciunt impedit corporis soluta non laudantium provident dolor quidem illo, quae asperiores reprehenderit perferendis doloribus officia suscipit tenetur!</p>
      <p>Aliquid natus, consectetur aut id possimus quaerat, ut vitae itaque cupiditate ad repellat est. Delectus harum iste, tempora, quis necessitatibus ea, quidem dolores, at nobis nemo vitae! Voluptates, veniam, voluptatibus.</p>
      <p>Rem maxime ad consectetur magnam quas maiores molestias, temporibus id numquam alias earum veniam reprehenderit, repudiandae, aperiam, totam culpa enim qui. Inventore, ab mollitia saepe cum corporis neque. Pariatur, mollitia.</p>
      <p>Fuga illo pariatur nemo impedit quidem mollitia quos repudiandae aut, in, exercitationem ab eos! Ipsa, architecto accusamus ullam quos incidunt, necessitatibus eos sit, eveniet numquam excepturi reprehenderit quo animi dolorum.</p>
      <p>Quidem dolor repudiandae et, doloribus id quisquam dolores corrupti itaque sit repellat omnis debitis quis odio accusantium tenetur, nemo incidunt neque voluptate. Distinctio eligendi quo magnam soluta odio sapiente molestias.</p>
    </section>
  </section>
</main>
