<div class="About max">
  <div class="About_body">
    <p class="About_foreword">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse, voluptatem ad omnis perspiciatis. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse.</p>
    <p>I am an emerging writer based in Melbourne, Australia. I’ve always been a storyteller of some sort; I started out in theatre as a kid (my greatest role was a weasel in Wind in the Willows), studied Film and Television at RMIT University and worked for a small animation company making some weird little movies.</p>
    <p>Now I’m a graduate of the Master of Creative Writing, Publishing and Editing program at the University of Melbourne. I like to tell stories about the darker side of life that exists on the edge of reality, and sometimes outside of it.</p>
    <p>Melbourne is a UNESCO City of Literature. I take a lot of inspiration from this city, and from country Victoria where I grew up.</p>
    <p>I’m also an Aurealis magazine slush pile reader and in a judge for the 2016 Aurealis Awards Graphic narratives.</p>
  </div>
  <div class="About_resume Resume">
    <img class="Resume_portrait" src="/images/cass-frances-portrait.jpg" alt="Cassandra Frances White" width="200" height="200">
    <div class="Resume_academia">
      <div class="Resume_degree Card">
        <h2 class="Resume_degree_title Card_heading">Master of Creative Writing, Publishing and Editing</h2>
        <p class="Resume_degree_uni Card_sub">The University of Melbourne, 2014&ndash;2015</p>
        <p class="Resume_degree_text Card_text">I graduated with First Class Honours. My thesis was on sisterhood in gothic fiction.</p>
      </div>
      <div class="Resume_degree Card">
        <h2 class="Resume_degree_title Card_heading">Bachelor of Psychology</h2>
        <p class="Resume_degree_uni Card_sub">Swinburne University, 2011&ndash;2013</p>
        <p class="Resume_degree_text Card_text">I went on exchange to Aalborg University in Denmark, where I studied Metafiction and Twentieth-Century Literature.</p>
      </div>
    </div>
  </div>
</div>