<div class="Section max">
  <div class="Timeline">
    <p class="Section_intro">Some of the things I've been up to...</p>
    <section class="Work">
      <div class="Work_inner">
        <h3 class="Work_heading">Glenfern fellowship</h3>
        <p>Fuga illo pariatur nemo impedit quidem mollitia quos repudiandae aut, in, exercitationem ab eos! Ipsa, architecto accusamus ullam quos incidunt, necessitatibus eos sit, eveniet numquam excepturi reprehenderit quo animi dolorum.</p>
        <p>Quidem dolor repudiandae et, doloribus id quisquam dolores corrupti itaque sit repellat omnis debitis quis odio accusantium tenetur, nemo incidunt neque voluptate. Distinctio eligendi quo magnam soluta odio sapiente molestias.</p>
      </div>
    </section>
    <section class="Work Work--minor">
      <div class="Work_inner">
        <h3 class="Work_heading">Blog post</h3>
        <p>Quidem dolor repudiandae et, doloribus id quisquam dolores corrupti itaque sit repellat omnis debitis quis odio accusantium tenetur, nemo incidunt neque voluptate. Distinctio eligendi quo magnam soluta odio sapiente molestias.</p>
      </div>
    </section>
    <section class="Work">
      <div class="Work_inner">
        <h3 class="Work_heading">How Cold the Northern Lights</h3>
        <a href="/read/northern-ligths">Read the full story</a>
        <p>Runner up: Grace Marion Wilson Award for emerging writers 2011.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deleniti hic obcaecati nesciunt impedit corporis soluta non laudantium provident dolor quidem illo, quae asperiores reprehenderit perferendis doloribus officia suscipit tenetur!</p>
        <p>Fuga illo pariatur nemo impedit quidem mollitia quos repudiandae aut, in, exercitationem ab eos! Ipsa, architecto accusamus ullam quos incidunt, necessitatibus eos sit, eveniet numquam excepturi reprehenderit quo animi dolorum.</p>
        <p>Quidem dolor repudiandae et, doloribus id quisquam dolores corrupti itaque sit repellat omnis debitis quis odio accusantium tenetur, nemo incidunt neque voluptate. Distinctio eligendi quo magnam soluta odio sapiente molestias.</p>
      </div>
    </section>
    <section class="Work">
      <div class="Work_inner">
        <h3 class="Work_heading">The Final Flight of the Morrigan</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deleniti hic obcaecati nesciunt impedit corporis soluta non laudantium provident dolor quidem illo, quae asperiores reprehenderit perferendis doloribus officia suscipit tenetur!</p>
        <p>Aliquid natus, consectetur aut id possimus quaerat, ut vitae itaque cupiditate ad repellat est. Delectus harum iste, tempora, quis necessitatibus ea, quidem dolores, at nobis nemo vitae! Voluptates, veniam, voluptatibus.</p>
      <p>Rem maxime ad consectetur magnam quas maiores molestias, temporibus id numquam alias earum veniam reprehenderit, repudiandae, aperiam, totam culpa enim qui. Inventore, ab mollitia saepe cum corporis neque. Pariatur, mollitia.</p>
      </div>
    </section>
    <section class="Work">
      <div class="Work_inner">
        <h3 class="Work_heading">Listening in Thin Places</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam deleniti hic obcaecati nesciunt impedit corporis soluta non laudantium provident dolor quidem illo, quae asperiores reprehenderit perferendis doloribus officia suscipit tenetur!</p>
        <p>Fuga illo pariatur nemo impedit quidem mollitia quos repudiandae aut, in, exercitationem ab eos! Ipsa, architecto accusamus ullam quos incidunt, necessitatibus eos sit, eveniet numquam excepturi reprehenderit quo animi dolorum.</p>
        <p>Quidem dolor repudiandae et, doloribus id quisquam dolores corrupti itaque sit repellat omnis debitis quis odio accusantium tenetur, nemo incidunt neque voluptate. Distinctio eligendi quo magnam soluta odio sapiente molestias.</p>
      </div>
    </section>
  </div>
</div>
