.about {
  composes: max from "../shared.css";
  display: flex;
  flex-wrap: wrap;
}

.body {
  margin: 0 0 2rem;
  padding: 0 0 1.5rem;
  border-bottom: 1px solid #bbb;
}

.body p:first-child {
  flex: 1 1 100%;
  margin-top: 0;
  font-size: 130%;
}

.resume {
  flex: 1 1 0;
}

.portrait {
  margin-top: .25rem;
  max-width: 100px;
  height: auto;
}

@media (max-width: 54.99em) {
  .portrait {
    float: left;
    margin-top: .75rem;
    margin-right: 1rem;
  }
  
  .academia {
    overflow: hidden;
  }
}


@media (min-width: 55em) {
  .body {
    flex: 2 1 0;
    margin: 0 2rem 0 0;
    padding: 0 2rem 0 0;
    border-bottom: 0;
  }
}
  
@media (min-width: 32em) {
  .portrait {
    max-width: none;
  }
}

@media (min-width: 55em) {
  .portrait {
    width: 100%;
  }
}
