.heading {
  margin: 0 0 2rem;
  padding: 2rem;
  background-color: var(--colSecondary);
  color: #fff;
  font-family: var(--fontHeading);
  font-size: 200%;
  font-weight: 100;
  text-align: center;
}

.withSubtitle {
  composes: heading;
  padding: 1.31rem 2rem;
}

.subtitle {
  display: block;
  margin-bottom: .4em;
  font-size: 50%;
}

@media (min-width: 35em) {
  .heading {
    margin-bottom: 3rem;
  }
}

@media (min-width: 45em) {
  .heading {
    font-size: 275%;
  }
}
