.about {
  composes: max from global;
  display: flex;
  flex-wrap: wrap;
}

.body {
  margin: 0 0 2rem;
  padding: 0 0 1.5rem;
  border-bottom: 1px solid #bbb;
}

.body p:first-child {
  flex: 1 1 100%;
  margin-top: 0;
  font-size: 130%;
}

.resume {
  flex: 1 1 0%;
}

.portrait {
  width: 30%;
  height: auto;
  margin-top: 0.25rem;
}

@media (max-width: 54.99em) {
  .portrait {
    float: left;
    margin-top: 0.75rem;
    margin-right: 1rem;
  }

  .academia {
    overflow: hidden;
  }
}

@media (min-width: 55em) {
  .body {
    flex: 2 1 0%;
    margin: 0 2rem 0 0;
    padding: 0 2rem 0 0;
    border-bottom: 0;
  }

  .portrait {
    width: 100%;
  }
}
