.nyctophilia {
  composes: max from global;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.intro {
  margin-bottom: 1rem;
}

.intro p:last-child {
  margin: 0;
}

.intro blockquote {
  position: relative;
  margin: calc(-1em * (1.4 - 1) / 2) 0; /* compensate for line-height for vertical rythm */
  padding-bottom: 0.5rem;
  font-size: 180%;
  font-family: var(--fontHeading);
  font-style: italic;
  line-height: 1.4;
}

.intro blockquote p::before {
  position: absolute;
  transform: translateX(-100%);
  content: open-quote;
}

.intro blockquote p::after {
  content: close-quote;
}

@media (min-width: 45em) {
  .nyctophilia {
    grid-gap: 1.5rem;
  }
}

@media (min-width: 45em) and (max-width: 54.99em), (min-width: 68em) {
  .intro {
    grid-column-end: span 2;
  }
}

@media (min-width: 55em) {
  .intro {
    margin-bottom: 0;
  }

  .introInner {
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media (min-width: 68em) {
  .grid {
    margin: 0 -2rem;
  }

  .introInner {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
