<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;inital-scale=1">
  <title>Cassandra Frances - YA fiction writer</title>
  <meta name="description" content="Website of Cassandra Frances, Young Adult fiction writer.">
  <link rel="apple-touch-icon-precomposed" href="/favicon-196.png" />
  <link rel="stylesheet" href="/main.css">
</head>
<body class="Layout">
  <header class="Layout_header Header max">
    <h1 class="Title">Cassandra Frances</h1>
    <ul class="Nav">
      <li class="Nav_item"><a class="Nav_link" href="/index.html">Home</a>
      <li class="Nav_item"><a class="Nav_link" href="/work.html">Work</a>
      <li class="Nav_item"><a class="Nav_link" href="/nyctophilia.html">Nyctophilia</a>
      <li class="Nav_item"><a class="Nav_link" href="/contact.html">Contact</a>
    </ul>
  </header>
  {{content}}
  <footer class="Layout_footer Footer">
    <ul class="Social">
      <li class="Social_site"><a class="Social_link" href="http://storm-the-form-of-a-girl.tumblr.com/">Tumblr</a></li>
      <li class="Social_site"><a class="Social_link" href="https://twitter.com/CassandraFrance">Twitter</a></li>
    </ul>
  </footer>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/7.0.2/js/smooth-scroll.min.js"></script>
  <script>
    smoothScroll.init({
      speed: 800
    });
  </script>
</body>
</html>