---
_options:
  layout: app/layouts/root.hbs
  partials:
    - app/partials/nav.hbs
    - app/partials/footer.hbs
---
<header class="Layout_header Header max">
  <p class="Header_title"><a class="Header_link" href="/">Cassandra Frances</a></p>
  {{> nav}}
</header>
{{content}}
{{> footer}}
