<footer class="Layout__footer Footer">
	<ul class="Social">
	{{#social-links}}
		<li class="Social__site"><a class="Social__link" href="{{{href}}}">{{{label}}}</a></li>
	{{/social-links}}
	</ul>
</footer>