<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{{page-title}}} - {{{site-title}}}</title>
	{{> head }}
</head>
<body>
	<header class="Header max">
		<p class="Header__title">{{{site-title}}}</p>
		{{> nav }}
	</header>
    <main>
    	<h1 class="Heading">{{{page-title}}}</h1>
    </main>
	{{> footer }}
</body>
</html>