<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{{site-title}}} - {{{site-subtitle}}}</title>
	{{> head }}
</head>
<body>
	<header class="Header max">
		<h1 class="Header__title">{{site-title}}</h1>
		{{> nav }}
	</header>
	<main>
		<div class="Works">
			<ul class="Works__list">
			{{#works}}
				<li class="Works__item"><a class="Works__link" href="{{{href}}}">{{{label}}}</a></li>
			{{/works}}
			</ul>
		</div>
	</main>
	{{> footer }}
</body>
</html>