<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{{site-title}}} - {{{site-subtitle}}}</title>
	{{> head }}
</head>
<body class="Layout">
	<header class="Layout__header Header max">
		<h1 class="Header__title">{{{site-title}}}</h1>
		{{> nav }}
	</header>
	<main class="Layout__main">
		<section class="Glance">
			<div class="Intro max">
				<p class="Intro__text">{{{intro}}}</p>
				<a class="Intro__link btn btn--inverted" href="#about">more</a>
			</div>
			<div class="Works max">
				<ul class="Works__list">
				{{#works}}
					<li class="Works__item"><a class="Works__link btn btn--inverted" href="{{{href}}}">{{{label}}}</a></li>
				{{/works}}
				</ul>
			</div>
		</section>
		<section id="about" class="About max">
			<p class="About__foreword">{{{foreword}}}</p>
			<div class="About__body">
				{{{about}}}
			</div>
			<div class="About__academia Academia">
				<dl class="Academia__list">
				{{#academia}}
					<dt class="Academia__label">{{{label}}}</dt>
					<dd class="Academia__info">
						<p class="Academia__uni">{{{date}}} - {{{university}}}</p>
						<p class="Academia__desc">{{{description}}}</p>
					</dd>
				{{/academia}}
				</dl>
			</div>
		</section>
	</main>
	{{> footer }}
</body>
</html>