.root {
  margin: 1rem 0;
}

.mainImage {
  margin-bottom: .5rem;
}

.mainImage > img {
  background-color: var(--colSecondary20);
}

.sideImages {
  display: flex;
  margin: 0 -.25rem;
}

.sideImages > div {
  flex: 1;
  margin: 0 .25rem;
  background-size: cover;
  background-position: center;
}

.sideImages > div::before {
  content: '';
  display: block;
  padding-top: 56.25%;
  background-color: var(--colSecondary20);
}

@media (min-width: 35em) {
  .root {
    display: flex;
    margin-left: -.5rem;
    margin-right: -.5rem;
  }

  .mainImage {
    flex: 1 1 61.5%;
    padding: 0 .5rem;
    margin-bottom: 0;
  }

  .sideImages {
    flex: 1 0 38.5%;
    flex-direction: column;
    padding: 0 .5rem;
    margin: -.5rem 0;
  }

  .sideImages > div {
    margin: .5rem 0;
    padding-top: 0;
  }
}
