---
title: How Cold the Northern Lights - Cassandra Frances
description: 
_options:
  layout: app/layouts/immersive.hbs
---
<main class="Layout_main">
  <section class="Immersive max">
    <header class="Immersive_header">
      <h1 class="Immersive_heading">How Cold the Northern Lights</h1>
      <p class="Immersive_author">by Cassandra Frances</p>
    </header>
    <a href="/work">Back</a>
  </section>
</main>
