.nyctophilia {
  composes: max from "../../components/shared.css";
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -.5rem;
}

.book {
  flex: 1;
  margin-bottom: 1.5rem;
  padding: 0 .5rem;
}

.intro {
  composes: book;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.introInner {
  flex: 1;
  padding: 1rem; /* same as books' inner containers */
}

.intro p:last-child {
  margin: 0;
}

.intro blockquote {
  position: relative;
  margin: calc(-1em * (1.4 - 1) / 2) 0; /* compensate for line-height for vertical rythm */
  padding-bottom: .5rem;
  color: var(--colSecondary80);
  font-family: var(--fontHeading);
  font-size: 180%;
  font-style: italic;
  line-height: 1.4;
}

.intro blockquote p::before {
  content: open-quote;
  position: absolute;
  transform: translateX(-100%);
}

.intro blockquote p::after {
  content: close-quote;
}

.empty {
  composes: book;
  display: none;
}

@media (min-width: 30em) and (max-width: 39.99em), (min-width: 50em) and (max-width: 54.99em) {
  .inner {
    margin: 0 -.5rem;
  }

  .book {
    padding: 0 .5rem;
  }
}

@media (min-width: 50em) {
  .inner {
    padding-top: .75rem;
  }

  .book {
    margin-bottom: 3rem;
  }

  .intro {
    max-width: 50%;
    display: flex;
    align-items: center;
  }

  .introInner {
    background-color: rgba(255, 255, 255, .5);
    padding: 1.5rem 2rem;
  }

  .empty {
    display: block;
  }
}

@media (min-width: 65em) {
  .inner {
    margin: -.5rem -2.5rem 0;
  }

  .intro {
    max-width: 66.66%;
  }

  .introInner {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
