.root {
  composes: max from "../../components/shared.css";
}

.body p:first-child {
  margin-top: 0;
  font-size: 130%;
}

.separator {
  width: 80%;
  margin: 2.5rem auto;
  border: none;
  border-bottom: 1px solid rgba(32, 32, 48, 0.3);
}

.left,
.right {
  margin-bottom: 2rem;

  & > section:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.cta {
  display: block;
  margin-bottom: 2rem;
  padding: .75rem 2rem;
  background-color: var(--colSecondary80);
  border: .5rem solid rgba(255, 255, 255, .5);
  border-radius: .25rem;
  color: white;
  font-size: 150%;
  text-align: center;
  text-decoration: none;
  transition: background-color .15s ease-out;

  &:focus {
    outline-color: var(--colSecondary);
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--colPrimary);
  }
}

@media (min-width: 55em) {
  .body {
    columns: 2;

    & p {
      break-inside: avoid;
    }

    & ul {
      font-size: 115%;
    }
  }

  .services {
    display: flex;
    margin: 0 -1rem 2rem;
  }

  .left,
  .right {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0 1rem;
  }

  .cta {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
