.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  composes: pattern-dots-sm from global;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding-bottom: 2rem;
  color: var(--colBg);
  background-color: var(--colBgAlt);
}

.inner {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  color: var(--colText);
}
