@import '~normalize.css';
@import '~pattern.css/dist/pattern.min.css';

:root {
  --fontText: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --fontHeading: 'Georgia', 'Times', 'Times New Roman', serif;
  --fontLogo: 'Princess Sofia', 'Garamond', serif;
  --colText: #202030;
  --colBg: #f1f1f1;
  --colBgAlt: #dcdcdd;
  --colPrimary: #af3636;
  --colPrimaryLight: #d78881;
  --colPrimaryLighter: #f7c9bc;
  --colPrimaryLighter50: rgba(247, 201, 188, 0.5);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  color: var(--colText);
  font-size: 100%;
  font-family: var(--fontText);
  line-height: 1.6;
}

body {
  min-height: 100%;
  background-color: var(--colBg);
}

a {
  color: var(--colPrimary);
}

a:hover {
  text-decoration: none;
}

button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

a:focus,
button:focus {
  outline-color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media (min-width: 35em) {
  html {
    font-size: 105%;
  }
}
