.max {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.card {
  font-size: 90%;
  line-height: 1.4;
}

.cardHeading {
  margin: 1.25rem 0 0.25rem;
  font-weight: normal;
  font-size: 140%;
  font-style: italic;
}

.cardSub {
  margin-top: 0.1rem;
  font-weight: bold;
  font-size: 90%;
}

.cardText {
  font-size: 90%;
}

@media (min-width: 35em) {
  .max {
    padding: 0 2rem;
  }

  .cardText {
    font-size: 100%;
  }
}
