.book {
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

.book::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(255, 255, 255, .5);
  transition: opacity .3s;
}

.book:hover {

}

.selectedBook {
  composes: book;
}

.selectedBook::before {
  opacity: 1;
}

.cover {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 4px 1px 1px 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
}

.cover::before,
.cover::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

/* inner shadow */
.cover::before {
  left: 0;
  right: 0;
  box-shadow: inset 3px 1px 4px rgba(255, 255, 255, .4);
}

.cover::after {
  left: 8px;
  width: 3px;
  background-color: rgba(0, 0, 0, .1);
  box-shadow: 2px 0 4px rgba(255, 255, 255, .2);
}

.img {
  display: block;
  height: 17rem;
}

.heading {
  margin-bottom: 0;
  line-height: 1.3;
  font-family: var(--fontHeading);
  font-size: 125%;
}

.heading::after {
  content: '';
  display: block;
  width: 3.5rem;
  margin: .5rem auto .5rem;
  border-bottom: 1px solid var(--colSecondary50);
}

.author {
  margin: 0;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: .025em;
}

.authorLink {
  text-decoration: none;
  color: inherit;
}

.review {
  display: none;
}

@media (min-width: 30em) and (max-width: 39.99em), (min-width: 50em) and (max-width: 54.99em) {
  .img {
    height: 14rem;
  }
}

@media (min-width: 65em) {
  .book {
    padding: 1.5rem 2rem;
  }
}
