.book {
  margin-bottom: 3rem;
  padding: 0 1rem;
  text-align: center;
}

.cover {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 3px 2px 2px 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
}

.cover::before,
.cover::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

/* inner shadow */
.cover::before {
  left: 0;
  right: 0;
  box-shadow: inset 4px 0 8px rgba(0, 0, 0, .5);
}

.cover::after {
  left: 10px;
  width: 3px;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: -2px 0 2px rgba(255, 255, 255, .15);
}

.img {
  display: block;
  height: 17rem;
}

.heading {
  margin-bottom: 0;
  line-height: 1.3;
  font-family: var(--fontHeading);
  font-size: 125%;
}

.heading::after {
  content: '';
  display: block;
  width: 3.5rem;
  margin: .5rem auto .5rem;
  border-bottom: 1px solid var(--colSecondary50);
}

.author {
  margin: 0;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: .025em;
}

.authorLink {
  text-decoration: none;
  color: inherit;
}

.review {
  display: none;
}
