<footer class="Layout_footer Footer">
	<ul class="Social">
		<li class="Social_site"><a class="Social_link" href="http://storm-the-form-of-a-girl.tumblr.com/">Tumblr</a></li>
		<li class="Social_site"><a class="Social_link" href="https://twitter.com/cassandrafrance">Twitter</a></li>
		<li class="Social_site"><a class="Social_link" href="">LinkedIn</a></li>
	</ul>
</footer>