<footer class="Layout_footer Footer">
	<ul class="Social">
		<li class="Social_site"><a class="Social_link" href="http://storm-the-form-of-a-girl.tumblr.com/">Tumblr</a></li>
		<li class="Social_site"><a class="Social_link" href="https://twitter.com/CassandraFrance">Twitter</a></li>
	</ul>
</footer>
<script src="http://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/7.0.2/js/smooth-scroll.min.js"></script>
<script>
	smoothScroll.init({
		speed: 800
	});
</script>