<ul class="Nav">
	<li class="Nav_item"><a class="Nav_link" href="/">Home</a>
	<li class="Nav_item"><a class="Nav_link" href="/work.html">Work</a>
	<li class="Nav_item"><a class="Nav_link" href="/nyctophylia.html">Nyctophilia</a>
	<li class="Nav_item"><a class="Nav_link" href="/contact.html">Contact</a>
</ul>