<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cassandra Frances - YA fiction writer</title>
	<meta name="description" content="Website of Cassandra Frances, Young Adult fiction writer.">
	<meta name="viewport" content="width=device-width;inital-scale=1">
	<link rel="stylesheet" href="/main.css">
</head>
<body class="Layout">
	<header class="Layout_header Header max">
		<h1 class="Header_title">Cassandra Frances</h1>
		{{> nav}}
	</header>
	<main class="Layout_main Layout_main--index">
		<section class="Glance">
			<div class="Intro max">
				<p class="Intro_text">Lorem ipsum dolor sit amet, consectetur adipis elit. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia.</p>
				<a class="Intro_link btn btn--inverted" href="#about">more</a>
			</div>
			<div class="Highlights max">
				<ul class="Highlights_list">
					<li class="Highlights_item"><a class="Highlights_link btn btn--inverted" href="/work.html#cloud-collectors">Cloud Collectors</a></li>
					<li class="Highlights_item"><a class="Highlights_link btn btn--inverted" href="/work.html#house-skin">The House of Skin and&nbsp;Ash</a></li>
					<li class="Highlights_item"><a class="Highlights_link btn btn--inverted" href="/work.html#something">Something else</a></li>
				</ul>
			</div>
		</section>
		<section id="about" class="About max">
			<p class="About_foreword">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse, voluptatem ad omnis perspiciatis. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse.</p>
			<div class="About_body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse, voluptatem ad omnis perspiciatis. Nesciunt voluptatibus possimus, doloribus, quia illum harum esse.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse, voluptatem ad omnis perspiciatis. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ad omnis perspiciatis. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse, voluptatem ad omnis perspiciatis. Quam consequatur nesciunt voluptatibus possimus, doloribus, quia illum harum esse illum harum esse.</p>
			</div>
			<div class="About_academia Academia">
				<img class="About_portrait" src="http://placehold.it/200" alt="Cassandra Frances White">
				<dl class="Academia_list">
					<dt class="Academia_label">Masters of Creative Writing, Publishing and Editing</dt>
					<dd class="Academia_info">
						<p class="Academia_uni">2014&ndash;2015 - Melbourne University</p>
						<p class="Academia_desc">This is a short description.</p>
					</dd>
					<dt class="Academia_label">Bachelor of Psychology</dt>
					<dd class="Academia_info">
						<p class="Academia_uni">2011&ndash;2013 - Swinburne University</p>
						<p class="Academia_desc">This is a short description spanning multiple lines.</p>
					</dd>
				</dl>
			</div>
		</section>
	</main>
	{{> footer}}
</body>
</html>