<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nyctophylia - Cassandra Frances</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width;inital-scale=1">
	<link rel="stylesheet" href="/main.css">
</head>
<body class="Layout">
	{{> header}}
	<main class="Layout_main">
		<h1 class="Heading">Nyctophylia</h1>
		<section class="Section max">
		</section>
	</main>
	{{> footer }}
</body>
</html>