<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nyctophylia - Cassandra Frances</title>
	<meta name="description" content="">
	{{> meta}}
</head>
<body class="Layout">
	{{> header}}
	<main class="Layout_main">
		<h1 class="Heading Heading--with-sub">Nyctophylia <span class="Heading_sub">nyc•to•phil•i•a (nĭk′tə-fĭl′ē-ə)</span></h1>
		<section class="Section max">
			<p class="Section_intro"><em>A preference for the night or darkness.</em> Welcome to my world!</p>
			<p>Here is my fangirling about all the books I have been reading lately. I am always drawn to books that have some sort of darkness or secrets about them. The bloody fairytales, the vengeful fairies and the abject dark magic is what gets my blood pumping. I am also an unashamed champion of Australian YA so you will see a lot of it here.</p>
			<ul class="Books">
				<li class="Book">
					<div class="Book_inner">
						<div class="Cover"><img class="Cover_img" src="http://www.echo.net.au/wp-content/uploads/2013/09/a-game-of-thrones.jpg" alt=""></div>
						<div class="Review">
							<h2 class="Review_heading">Fairytales for Wilde Girls</h2>
							<p class="Review_author">by Allyse Near</p>
							<p class="Review_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas saepe incidunt eligendi quisquam dolore, corporis quod alias delectus fuga officia quos dolores voluptates. Dolores, molestiae aliquam, deserunt enim illo necessitatibus?</p>
							<div class="Review_links">
								<a href="#">Amazon</a> | <a href="#">Goodreads</a>
							</div>
						</div>
					</div>
				</li>
				<li class="Book">
					<div class="Book_inner">
						<div class="Cover"><img class="Cover_img" src="http://www.echo.net.au/wp-content/uploads/2013/09/a-game-of-thrones.jpg" alt=""></div>
						<div class="Review">
							<p class="Review_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas saepe incidunt eligendi quisquam dolore, corporis quod alias delectus fuga officia quos dolores voluptates. Dolores, molestiae aliquam, deserunt enim illo necessitatibus?</p>
							<div class="Review_links">
								<a href="#">Amazon</a> | <a href="http://blah.com">Goodreads</a>
							</div>
						</div>
					</div>
				</li>
				<li class="Book">
					<div class="Book_inner">
						<div class="Cover"><img class="Cover_img" src="http://www.echo.net.au/wp-content/uploads/2013/09/a-game-of-thrones.jpg" alt=""></div>
						<div class="Review">
							<p class="Review_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas saepe incidunt eligendi quisquam dolore, corporis quod alias delectus fuga officia quos dolores voluptates. Dolores, molestiae aliquam, deserunt enim illo necessitatibus?</p>
							<div class="Review_links">
								<a href="#">Amazon</a> | <a href="#">Goodreads</a>
							</div>
						</div>
					</div>
				</li>
				<li class="Book">
					<div class="Book_inner">
						<div class="Cover"><img class="Cover_img" src="http://www.echo.net.au/wp-content/uploads/2013/09/a-game-of-thrones.jpg" alt=""></div>
						<div class="Review">
							<p class="Review_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas saepe incidunt eligendi quisquam dolore, corporis quod alias delectus fuga officia quos dolores voluptates. Dolores, molestiae aliquam, deserunt enim illo necessitatibus?</p>
							<div class="Review_links">
								<a href="#">Amazon</a> | <a href="#">Goodreads</a>
							</div>
						</div>
					</div>
				</li>
				<li class="Book">
					<div class="Book_inner">
						<div class="Cover"><img class="Cover_img" src="http://www.echo.net.au/wp-content/uploads/2013/09/a-game-of-thrones.jpg" alt=""></div>
						<div class="Review">
							<p class="Review_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas saepe incidunt eligendi quisquam dolore, corporis quod alias delectus fuga officia quos dolores voluptates. Dolores, molestiae aliquam, deserunt enim illo necessitatibus?</p>
							<div class="Review_links">
								<a href="#">Amazon</a> | <a href="#">Goodreads</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</main>
	{{> footer }}
</body>
</html>