<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact - Cassandra Frances</title>
	<meta name="description" content="">
	{{> meta}}
</head>
<body class="Layout">
	{{> header}}
	<main class="Layout_main">
		<h1 class="Heading">Contact</h1>
		<section class="Thanks Section max">
			<p class="Thanks_main">Thanks!</p>
			<p class="Thanks_sub">I'll get back to you as soon as possible.</p>
		</section>
	</main>
	{{> footer }}
</body>
</html>